/* CSS Document */
body {
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
}

.Header {
	margin:auto;
	width:950px;
	text-align:center;
}

a {
	color:#313740;
	text-decoration:none;
}

a:hover {
	color:#DD2D31;
	text-decoration:underline;
}

a.active {
	color:#DD2D31;
	text-decoration:underline;
}





<img src="background.jpg">
